[submodule "bgfx"]
	path = bgfx
	url = git@github.com:firefalcom/bgfx.git
[submodule "bx"]
	path = bx
	url = git@github.com:firefalcom/bx.git
[submodule "bimg"]
	path = bimg
	url = git@github.com:firefalcom/bimg.git
